#box1,
#box2,
#box3,
#box4,
#box5 {
	width: 200px;
	height: 200px;
	border-radius: 5px;
	border: 2px solid black;
	margin: 20px;
	opacity: .7;
}

#box {
	display: flex;
	justify-content: center;
}

.highlighted {
	background-color: #8ab2f2;
}

.special-header {
	h1 {
		color: #5ce8cc;
	}
}

.important {
	opacity: 1 !important;
}